<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('fragments/head')%>
        <title>Hospital Pediátrico del Niño Jesús</title>
    </head>
    <body id="top">
    <!-- navbar -->
            <%-include('fragments/navbar',{login:login})%>
<!-- navbar -->
         <!-- carrousel -->
         <%-include('fragments/carrousel')%>
<!-- carrousel -->
<!-- about -->
<%-include('fragments/about')%>
<!-- about -->
           




<div class="container">
    <div class="row">
      
        <div
        class="col-sm-8 col-md-9 col-lg-8"
        style="margin-bottom: 10%; height: 60vh; width: 100%"
    >
                <%-include('fragments/map.ejs')%>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>
<!-- footer-->
<%-include('fragments/footer')%>
<!-- footer-->

        <!-- JAVASCRIPT FILES -->
        <script src="js/jquery.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/scrollspy.min.js"></script>
        <script src="js/custom.js"></script>
        <!-- JavaScript Bundle with Popper -->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
        

        <% if(isLogin == 4){ %>
            <script>
        const Toast2 = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 3000,
        timerProgressBar: true,
        showCloseButton: true
      });

      Toast2.fire({
        icon: "error",
        title: "Solo los Administradores pueden hacer esta accion",
      });
                
            </script>
            <%}%>
            <% if(isLogin == 7){ %>
                <script>
            const Toast3 = Swal.mixin({
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,
            showCloseButton: true
          });
    
          Toast3.fire({
            icon: "info",
            title: "Posteo Guardado con exito",
          });
                    
                </script>
                <%}%>
                <% if(isLogin == 8){ %>
                  <script>
              const Toast4 = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              showCloseButton: true
            });
      
            Toast4.fire({
              icon: "error",
              title: "NO SE GUARDO TU POST",
            });
                      
                  </script>
                  <%}%>

                <% if(cerrar==true){ %>
                  <script>
                    
              const Toast5 = Swal.mixin({
              toast: true,
              position: "top-end",
              showConfirmButton: false,
              timer: 3000,
              timerProgressBar: true,
              showCloseButton: true
            });
      
            Toast5.fire({
              icon: "warning",
              title: "Usted ha salido de administración",
            });
                      
                  </script>
                  <%}%>
                  */
    </body>
</html>